
\node_modules
Product Card Parallax Tilt
neon hover.zip
Product Card Parallax Tilt.zip
package.json
package-lock.json
\neon hover
Portfolio_website_backdrop_space_warfare_illust.jpg
Portfolio_website_background_design_scifi_spac (1).jpg
Portfolio_website_background_design_scifi_spac.jpg
1000072736-01.jpeg
back.jpeg
bg.jpg
electoral.pdf
Futuristic_scifi_portfolio_website_background_ (2).jpg
Futuristic_scifi_portfolio_website_background_ (3).jpg
Futuristic_scifi_portfolio_website_background_.jpg
lo.jpeg
logo.png
port.jpeg
Portfolio_website_backdrop_space_warfare_illust (1).jpg